# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Database / SQL dumps
*.sql

# Cache
.cache/

# Runtime data
pids/
*.pid
*.seed

# Coverage
coverage/

# Mac/Linux hidden files
*.swp